nav.navbar {
	border-radius: 0 !important;
}
.alert {
	border-radius: 0 !important;	
}

.nav-tabs {
	margin-bottom: 20px;
}

.logo-big {
	background: url('../img/logo-big.png') no-repeat;
	width: 400px;
	height: 169px;
	margin: 20px auto;
}

.logo {
	text-indent: -9999px;
	background: url('../img/logo.png') no-repeat 10px 10px;
	width: 110px;
	height: 60px;
	padding: 10px;
	box-sizing: border-box;
}

.sales-lead {
	background: #f7a35c;
	color: #fff;
}
.sales-prospect {
	background: #7cb5ec;
	color: #fff;
}
.sales-deal {
	background: #90ed7d;
	color: #fff;
}

#recaptcha_widget a#recaptcha_image img {
	width: 100%;
}


.dataTables_wrapper {
	font-size: .85em;
}

.right {
	text-align: right;
}